body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.tab-content{
  font-size: 16px;
  padding-top: 70px;
}
.vertical-separator{
  align-self: center;
  width: 1px;
  height: 25px;
  background-color: rgb(255, 255, 255);
}
.nav-pills .nav-link {
  color: white;
}
.nav-pills .nav-link:hover{
  color: rgb(167, 167, 167);
}
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: white;
  text-shadow: 0 0 5px;
  text-shadow: 0 0 15px;
  text-shadow: 0 0 60px;
  text-shadow: 0 0 180px;
}
.dropdown-menu{
  min-width: 100px;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
}
.custom-modal {
  margin-top: 150px;
}
#zoomedProfilePic {
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.caption {
  font-size: 1rem;
  font-weight: bold;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.carousel-item {
  aspect-ratio: 1/1;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container{
  max-width: 90%;
  margin: 0 auto;
}
.js-player {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.video-container { 
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  height:auto;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(0, 217, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.download-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}
.instagram-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}
.email-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}

.download-btn {
  width: 47px;
  height: 32px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width:480px) {
  html {
    font-size: 13px;
  }
}
@media screen and (max-width:327px) {
  html {
    font-size: 11px;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.shake-text {
  font-size: 13px;
  margin-left: 5px;
  display: inline-block;
  color: white;
}
.shake-text {

  --animate-duration: 2.5s; 
  animation-iteration-count: infinite; /* Infinite loop */
  animation-delay: 2s; /* Adds a 2-second break between iterations */
}
