body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.tab-content{
  font-size: 16px;
  padding-top: 70px;
}
.nav-pills .nav-link {
  color: white;
}
.nav-pills .nav-link:hover{
  color: rgb(167, 167, 167);
}
.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: white;
  text-shadow: 0 0 5px;
  text-shadow: 0 0 15px;
  text-shadow: 0 0 60px;
  text-shadow: 0 0 180px;
}
.dropdown-menu{
  min-width: 100px;
}
.dropdown-menu {
  width: 100%;
  text-align: center;
}
.custom-modal {
  margin-top: 150px;
}
#zoomedProfilePic {
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.caption {
  font-size: 1rem;
  font-weight: bold;
}
.modal-content {
  background-color: transparent;
  border: none;
}
.carousel-item {
  aspect-ratio: 1/1;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-container{
  max-width: 90%;
  margin: 0 auto;
}
.js-player {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}
.video-container { 
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  height:auto;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(0, 217, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.download-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}
.instagram-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}
.email-btn:hover {
  background-color: transparent !important;
  color: inherit !important;
  text-decoration: none !important;
}
.nav-link {
  position: relative; /* To position the underline */
  text-decoration: none; /* Remove default underline */
  color: white; /* Adjust as needed */
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the center */
  width: 0;
  height: 2px;
  background-color: white; /* Color of the underline */
  transition: all 0.3s ease-out; /* Smooth animation */
  transform: translateX(-50%);
}

.nav-link.active::after {
  width: 70%; /* Expand the underline outward */
  left: 50%; /* Keep centered */
}

.navbar-brand .rounded-pill{
  width: 50px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width:428px) {
  html{
    font-size: 15px;
  }
  .navbar-brand .rounded-pill{
    width: 49px;
  }
}
@media screen and (max-width:404px) {
  html{
    font-size: 14px;
  }
  .navbar-brand .rounded-pill{
    width: 48px;
  }
}
@media screen and (max-width:381px) {
  html{
    font-size: 13px;
  }
  body p{
    font-size: 12px;
  }
  .navbar-brand .rounded-pill{
    width: 47px;
  }
}
@media screen and (max-width:357px) {
  html{
    font-size: 12px;
  }
  body p{
    font-size: 11px;
  }
  .navbar-brand .rounded-pill{
    width: 46px;
  }
}
@media screen and (max-width:333px) {
  html{
    font-size: 11px;
  }
  body p{
    font-size: 10px;
  }
  .nav-link::after {
    height: 1.5px;
  }
  .navbar-brand .rounded-pill{
    width: 45px;
  }
}
@media screen and (max-width:310px) {
  html{
    font-size: 10px;
  }
  .nav-link::after {
    height: 1.3px;
  }
  .navbar-brand .rounded-pill{
    width: 41px;
  }
}
@media screen and (max-width:280px) {
  html{
    font-size: 9px;
  }
  .navbar-brand .rounded-pill{
    width: 38px;
  }
}
@media screen and (max-width:250px) {
  html{
    font-size: 8px;
  }
  body p{
    font-size: 9px;
  }.nav-link::after {
    height: 1px;
  }
  .navbar-brand .rounded-pill{
    width: 35px;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}
@keyframes custom-tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-2deg); /* Reduced rotate */
  }
  30%, 50%, 70% {
    transform: scale(1.1) rotate(2deg); /* Reduced rotate */
  }
  40%, 60% {
    transform: scale(1.1) rotate(-2deg); /* Reduced rotate */
  }
  80% {
    transform: scale(1) rotate(1deg); /* Reduced rotate */
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.shake-text {
  animation: tada-with-pause 5s ease-in-out infinite;
  color: white;
}
@keyframes tada-with-pause {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-2deg);
  }
  30%, 50%, 70% {
    transform: scale(1.1) rotate(2deg);
  }
  40%, 60% {
    transform: scale(1.1) rotate(-2deg);
  }
  80% {
    transform: scale(1) rotate(1deg);
  }
  33.333%, 100% {
    transform: scale(1) rotate(0);
  }
}