
.tab-content{
  font-size: 16px;
  padding-top: 70px;
}
.nav-center{
  display: flex;
  justify-content: space-around;
}
.vertical-separator{
  display: inline-block;
  width: 1px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  margin: 10px 10px;
}
.nav-pills .nav-link {
  color: white;
}
.nav-pills .nav-link:hover{
  color: rgb(167, 167, 167);
  
}
.nav-pills .nav-link.active {
  background-color: transparent !important;
  text-shadow: 0 0 5px;
  text-shadow: 0 0 15px;
  text-shadow: 0 0 60px;
  text-shadow: 0 0 180px;
}

.navbar .nav-pills {
  margin-left: 15px;
}

.carousel-item {
  aspect-ratio: 1/1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container{
  max-width: 90%;
  margin: 0 auto;
}
.js-player {
  width: 100%;
  height: auto;
  object-fit: contain; /* Keeps the aspect ratio intact */
  aspect-ratio: 1/1;
}

.video-container { 
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  height:auto;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 52px;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(0, 217, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:480px) {

  .nav-pills .nav-item {
      font-size: 14px;
  }
}

/* Add animation effect */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
